#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  }

.pilt {
  /* width: 100px; */
  height: 100px;
}

.pilt:hover {
  cursor: pointer;
  opacity: 70%;
}

.pilt:active {
  transform: scale(95%);
}

.nupp {
  background-color: brown;
  color: white;
}

.nupp:hover {
  border-color: rgb(57, 24, 1);
  /* border-width: 2px; */
}

.nupp:active {
  text-decoration: underline;
}

.summa-aktiivne {
  color: rgb(227 6 140);
  border-color: rgb(227 6 140);
  border-width: 2px;
}

.summa-aktiivne:focus {
  outline: none;
  border-color: rgb(227 6 140);
}

.keel-aktiivne {
  font-weight: bold;
}

.linn-aktiivne {
  text-decoration: underline;
}

.kuldne {
  color: goldenrod;
}

.dark {
  background-color: black;
  color: white;
  min-height: 100vh;
}

/* .light {

} */

th, td {
  border: 1px solid black;
}